:root {
  --background-light: #f8f9fa;
  --background-dark: #2c2c34;
  --primary: #6f7373;
  --secondary: #f5a07b;
  --highlight: #afde7c;
  --text-light: #343a40;
  --text-dark: #ffffff;
  --border-color: #868a8f;
  --font-family: "Inter", sans-serif;

  --transition-speed: 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-light);
  color: var(--text-light);
  line-height: 1.6;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  color: var(--background-dark);
  font-weight: 700;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.75rem;
  color: var(--background-dark);
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  color: var(--text-light);
  line-height: 1.8;
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--highlight);
}

input,
textarea {
  width: 100%;
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--background-light);
  color: var(--text-light);
  margin-top: 10px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: var(--highlight);
  box-shadow: 0 0 5px rgba(224, 122, 95, 0.4);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.header {
  display: flex;
  position: relative;
  overflow: visible;
  align-items: center;
  background-color: var(--background-dark);
  color: var(--text-dark);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  margin-bottom: 20px;
  z-index: 10;
}

.header-logo {
  font-size: 2rem;
  color: var(--highlight);
  font-weight: 800;
  letter-spacing: 1px;
  margin-right: auto;
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.header-logo:hover {
  color: var(--primary);
}
.header-logo:hover {
  animation: pulse 0.8s ease infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.menu-toggle,
.header-language-toggle {
  font-size: 1.5rem;
  color: var(--highlight);
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 30px;
}

.icon {
  color: var(--highlight);
  cursor: pointer;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: fixed;
  top: 3rem;
  right: 1rem;
  background: var(--secondary);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.dropdown-menu button {
  background: none;
  border: none;
  margin-right: 20px;
  cursor: pointer;
  padding: 0.5rem;
  text-align: left;
  width: 100%;
}
.menu.open .dropdown-menu {
  display: flex;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: block;
  }
}

.header,
.footer {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 0;
  background-color: var(--background-dark);
  color: var(--highlight);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-uniform {
  display: block;
  margin: 1rem;
  background-color: var(--primary);
  color: var(--text-dark);
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.4s ease-in-out;
}

.button-uniform:hover {
  background-color: var(--highlight);
  color: var(--text-light);
  transform: scale(1.05);
}

.button-uniform:disabled {
  background-color: var(--border-color);
  cursor: not-allowed;
}

.button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

@media (max-width: 768px) {
  .button-container {
    flex-direction: column;
    gap: 1rem;
  }
}

.categories-section {
  padding: 2rem;
  background-color: var(--background-light);
}

.categories-section h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--text-light);
}

.category-card h3 {
  font-size: 1.2 rem;
  margin-bottom: 1rem;
}

.category-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-card li {
  margin: 0.5rem 0;
}

.category-card a {
  color: var(--highlight);
  text-decoration: none;
  font-size: 1rem;
}

.category-card a:hover {
  text-decoration: underline;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  width: 100%;
}

.category-card {
  background-color: var(--secondary);
  color: var(--background-dark);
  border-radius: 8px;
  border: none;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform var(--transition-speed),
    box-shadow var(--transition-speed);
  cursor: pointer;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.category-intro {
  font-size: 1rem;
  color: var(--text-light);
  margin-bottom: 16px;
  line-height: 1.5;
}

.content {
  width: 100%;
  max-width: 100%;
  padding: var(--padding);
  background-color: var(--background-light);
  border: none;
  box-shadow: none;
}
@media (max-width: 768px) {
  .categories-container {
    grid-template-columns: 1fr;
  }
}

.article-preview {
  background-color: var(--background-light);
  border: none;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 1.5rem 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.article-preview:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content,
.article-preview {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.6s ease forwards;
  animation-delay: 0.3s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.resources-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  width: 100%;
  margin: 2rem auto;
  padding: 1rem;
}

@media (max-width: 768px) {
  .resources-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .resources-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.resource-section {
  background-color: var(--secondary);
  color: var(--text-light);
  padding: 1.5rem;
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.resource-section:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.resource-section h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.resource-section .article-preview {
  margin-bottom: 1rem;
}
.resource-section.highlight {
  border: 2px solid var(--highlight);
  padding: 1rem;
  border-radius: 5px;
}

.filter-bar {
  display: flex;
  gap: 1rem;
  padding: 0.75rem;
  background-color: var(--background-light);
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.filter-bar label {
  font-size: 0.9rem;
  color: var(--text-light);
}

.filter-bar input {
  padding: 5px 10px;
  font-size: 0.9rem;
  border: 1px solid var(--text-light);
  border-radius: 5px;
  background-color: var(--background-light);
  color: var(--text-light);
}

.blog-posts-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .blogposts-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

.blogposts-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 1.5rem;
  width: 100%;
  margin: 2rem auto;
  padding: 1rem;
}

.blog-post-card {
  background-color: var(--secondary);
  color: var(--text-light);
  border-radius: 8px;
  padding: 1.5rem;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-post-card:hover {
  transform: scale(1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.blog-post-card h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.blog-post-card p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .blogposts-section {
    grid-template-columns: 1fr;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    .blogposts-section {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.comments-section {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--secondary);
  border-radius: 8px;
}

.comments-section h3 {
  color: var(--text-light);
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.comments-section p {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.comments-section form {
  display: flex;
  gap: 0.5rem;
  background-color: var(--secondary);
}

.comments-section input {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--text-light);
}

.create-post-page {
  width: 100%;
  max-width: 800px;
  margin: 2rem 2rem 10%;
  padding: 2rem;
  background-color: var(--secondary);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
}

.info-section {
  padding: 1.5rem;
  background-color: var(--background-light);
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  line-height: 1.6;
  text-align: left;
  font-weight: 550;
  margin-bottom: 30px;
}

.welcome-text {
  margin-bottom: 20px;
  padding: 15px;
  background-color: var(--background-light);
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--text-light);
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 550;
}
.create-post-page form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.create-post-page form label {
  font-weight: bold;
  color: var(--text-light);
}

.create-post-page form input,
.create-post-page form textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--background-light);
  color: var(--text-light);
}

.create-post-page form textarea {
  height: 150px;
  resize: vertical;
}

.create-post-page p {
  text-align: center;
  font-weight: 550;
  color: var(--text-light);
}

.profile-content {
  flex: 1;
  padding: 2rem;
}
.profile-form label {
  font-weight: bold;
  color: var(--text-light);
  margin-bottom: 0.5rem;
}

.profile-form input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--text-light);
  border-radius: 5px;
  margin-bottom: 1.5rem;
  background-color: var(--background-light);
  color: var(--text-light);
}

.profile-container li a {
  text-decoration: none;
  color: var(--text-light);
  font-weight: bold;
}

.profile-container li a:hover {
  text-decoration: underline;
}
.profile-container {
  width: 100%;
  max-width: 800px;
  margin: 2rem 2rem 10%;
  padding: 2rem;
  background-color: var(--secondary);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
}
@media (max-width: 1200px) {
  .profile-container {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .profile-container {
    padding: 1.5rem;
    max-width: 100%;
  }
}

.profile-container h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: var(--text-light);
}

.profile-container ul {
  list-style: none;
  padding: 0;
}

.profile-container li {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--background-light);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-container small {
  color: var(--text-light);
  font-size: 0.85rem;
}

.profile-container h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--text-light);
}

.profile-container .comment-text {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--text-dark);
}
@media (min-width: 768px) {
  .profile-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

.message {
  color: var(--highlight);
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  border: var(--text-light);
}

.footer {
  background-color: var(--background-dark);
  color: var(--text-dark);
  padding: 1.5rem;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 1rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer-links a {
  color: var(--text-dark);
  font-size: 0.9rem;
  text-decoration: none;
}

.footer-links a:hover {
  color: var(--highlight);
}

.footer-text {
  font-size: 0.875rem;
}

.footer p {
  margin: 0;
  padding-top: 10px;
  color: inherit;
  font-size: 0.7rem;
}
