html,
body {
  background-color: #5e51e9;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #5e51e9;
  color: white;
}

.header-logo {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  color: #fc31d4;
}

.header-controls {
  display: flex;
  align-items: center;
  gap: 15px; /* Smaller gap for mobile */
}

.icon {
  width: 24px;
  height: 24px;
  color: white;
  cursor: pointer;
}

.header-search-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-search {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.header-profile,
.header-language-toggle {
  background-color: transparent;
  border: none;
  padding: 0;
}

/* Tablet Styles */
@media (min-width: 768px) {
  .header {
    padding: 15px 20px;
  }

  .header-logo {
    font-size: 24px;
  }

  .header-controls {
    gap: 25px; /* Slightly larger gap for tablet */
  }

  .header-search {
    font-size: 16px;
  }
}

/* Desktop Styles */
@media (min-width: 1024px) {
  .header {
    padding: 20px 40px;
  }

  .header-logo {
    font-size: 28px;
  }

  .header-controls {
    gap: 40px; /* Full gap for desktop */
  }

  .header-search {
    font-size: 18px;
  }
}
